@use 'global';

.body-video-background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  video {
    height: 100%;
    width: 100%;
  }
}

.header {
  background-color: transparent;
  min-height: 140px;
}

.header:hover {}